/* Write your code here: */
h1 , h2 {
    color: blueviolet; //group 
}

.box > .done {
    color: firebrick; // child
}
.box li{
    color: blue; //descendant
}
li.done{
    color: seagreen; // chaining
}