.page {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    margin-top: 60px;
}
html{
    background-color: black;
}

img{   
    border: 5px solid,white;
    width: 100%;    
}

h1{
    font-size: 3em;
    text-transform: uppercase;
    
}