

.flag{
    width: 900px;
    height: 200px;
    background-color: orange;
    position: absolute;

}

.flag > div {
    width: 100%;
    height: 200px;
    background-color: white;
    position: relative;
    top: 200px;
}

.flag > div >div{
    background-color: green;
    position: relative;
    width: 100%;
    height: 200px;
    top: 200px;
}